* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.menu__btn {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu__line {
  display: block;
  width: 20px;
  height: 3px;
  background: #1f2022;
  border-radius: 20px;
}

.logo {
  margin-right: 60px;
}

.input__group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  max-width: 830px;
  width: 50%;
}

.input__search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

.button__search {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-search {
  fill: #000;
}

.icons-link {
  text-decoration: none;
  opacity: 0.24;
}

.icons-link:hover {
  opacity: 0.7;
  fill: #ff0000;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  padding-left: 32px;
  background-color: #fff;
}

.content {
  width: 100%;
  margin-top: 85px;
  padding-left: 15%;
  padding-top: 30px;
}

.nav__menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav__link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}

.nav__link:hover {
  color: #ff0000;
}
.nav__link:hover .icon {
  fill: #ff0000;
}

.nav__item {
  margin-bottom: 28px;
  display: flex;
}

.nav__item .icon {
  fill: #898989;
}

.nav__text {
  margin-left: 13px;
}

.nav__img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}

.channel {
  position: relative;
}

.channel__title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}

.cannel__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.channel__text {
  margin-left: 20px;
}

.swiper-slide {
  margin-right: 45px;
}

.video__card {
  width: 250px;
}

.video__thumb {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.video__duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 12px;
  padding: 3px 9px;
  font-size: 14px;
  line-height: 18px;
}

.video__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video__counter {
  display: flex;
}

.video__views {
  margin-right: 5px;
}

.video__views::after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.channel-button {
  cursor: pointer;
  fill: #c2c2c2;
}

.slider__buttons {
  position: absolute;
  right: 10%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
